header {
  width: 100vw;
  background-color: #3f51b5;
}

.container {
  height: 3%;
  width: 100vw;
  padding: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.buttonContainer {
  width: 50%;
}

.headline {
  margin-right: 10px;
  font-size: 2em;
  color: #efefef;
}

mat-icon {
  cursor: pointer;
  color: #efefef;
}
