<header>
  <div class="container">
    <div class="buttonContainer">
      <h1 class="headline">Dashboard</h1>
    </div>
    <div class="buttonContainer">
      <section>
        <div class="buttonRow">
          <button
            mat-button
            (click)="toggleEditMode()"
            mat-icon-button
            aria-label="A pen icon"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf="editMode" mat-icon-button aria-label="A plus icon">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </section>
    </div>
  </div>
</header>
<main></main>
<footer></footer>
